html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    font-family: 'Consolas', monospace;
}

#leftDiv {
    background-color: #D9D9D9;
    width: 50%;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

#rightDiv {
    background-color: white;
    width: 50%;
    float: right;  
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    font-family: consolas;
}

.bodyText {
    font-family: consolas;
    font-size: 1em;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    grid-gap: 20px;
}

.card {
    background-color: #D9D9D9;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.searchPill {
    height: 30px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 15px ;
    border: none;
    
    font-family: consolas;
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
}

.searchBox{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchBox div{
    width: 100%;
    height: 30px;
}

#optionsBox{
    background-color: #FFFFFF;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.optionsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.optionsRow input {
    flex: 1;
}

.button {
    height: 30px;
    text-align: center;
    background-color: black;
    font-family: consolas;
    font-size: 1em;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#optionsConfirm{
    width: 30%;
    margin: 0 auto;
}

#targetPrice{
    height: 1.5em;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    font-family: consolas;
    font-size: 1em;
    vertical-align: center;
    margin: 1em;
    text-align: center;
}

#inputName{
    height: 1.5em;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    font-family: consolas;
    font-size: 1em;
    margin: 1em;
    text-align: center;
}

.priceCompPill{
    width: 180px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    font-family: consolas;
    font-size: 1em;
    text-align: center;
}

#priceNameHeader{
    font-family: consolas;
    font-size: 20px;
    font-weight: bold;
}

.priceCardFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.deleteButton{
    font-family: consolas;
    font-size: 20px;
    font-weight: bold;
    height:30px;
    width: 30px;
    color: white;

    border-radius: 15px;
    background-color: black;
}